module.exports = {
  conductor: {
    rpc: "https://api.avax.network/ext/bc/C/rpc",
    mnemonic:
      "",
  },
  mainnet: {
    conductorChainId: 6,
    contributorChainId: 2,
    consistencyLevel: 1,
    wormhole: "0x98f3c9e6E3fAce36bAAd05FE09d375Ef1464288B",
    tokenBridge: "0x3ee18B2214AFF97000D974cf647E7C347E8fa585",
    mnemonic:
      "",
    rpc: "https://rpc.ankr.com/eth",
    deployImplementationOnly: false,
  },
  binance: {
    conductorChainId: 6,
    contributorChainId: 4,
    consistencyLevel: 1,
    wormhole: "0x98f3c9e6E3fAce36bAAd05FE09d375Ef1464288B",
    tokenBridge: "0xB6F6D86a8f9879A9c87f643768d9efc38c1Da6E7",
    mnemonic:
      "",
    rpc: "https://bsc-dataseed.binance.org/",
    deployImplementationOnly: false,
  },
  polygon: {
    conductorChainId: 6,
    contributorChainId: 5,
    consistencyLevel: 1,
    wormhole: "0x7A4B5a56256163F07b2C80A7cA55aBE66c4ec4d7",
    tokenBridge: "0x5a58505a96D1dbf8dF91cB21B54419FC36e93fdE",
    mnemonic:
      "",
    rpc: "https://polygon.llamarpc.com",
    deployImplementationOnly: false,
  },
  fantom: {
    conductorChainId: 6,
    contributorChainId: 10,
    consistencyLevel: 1,
    wormhole: "0x126783A6Cb203a3E35344528B26ca3a0489a1485",
    tokenBridge: "0x7C9Fc5741288cDFdD83CeB07f3ea7e22618D79D2",
    mnemonic:
      "",
    rpc: "https://rpc.ankr.com/fantom/",
    deployImplementationOnly: false,
  },
  avalanche: {
    conductorChainId: 6,
    contributorChainId: 6,
    consistencyLevel: 1,
    wormhole: "0x54a8e5f9c4CbA08F9943965859F6c34eAF03E26c",
    tokenBridge: "0x0e082F06FF657D94310cB8cE8B0D9a04541d8052",
    mnemonic:
      "",
    rpc: "https://api.avax.network/ext/bc/C/rpc",
    deployImplementationOnly: false,
  },
  arbitrum: {
    conductorChainId: 6,
    contributorChainId: 23,
    consistencyLevel: 1,
    wormhole: "0xa5f208e072434bC67592E4C49C1B991BA79BCA46",
    tokenBridge: "0x0b2402144Bb366A632D14B83F244D2e0e21bD39c",
    mnemonic:
      "",
    rpc: "https://rpc.ankr.com/arbitrum",
    deployImplementationOnly: false,
  },
  optimism: {
    conductorChainId: 6,
    contributorChainId: 24,
    consistencyLevel: 1,
    wormhole: "0xEe91C335eab126dF5fDB3797EA9d6aD93aeC9722",
    tokenBridge: "0x1D68124e65faFC907325e3EDbF8c4d84499DAa8b",
    mnemonic:
      "",
    rpc: "https://mainnet.optimism.io",
    deployImplementationOnly: false,
  },
  solana: {
    conductorChainId: 6,
    contributorChainId: 1,
    wormhole: "worm2ZoG2kUd4vFXhvjh93UUH596ayRfgQ2MgjNMTth",
    tokenBridge: "wormDTUJ6AWPNvk59vGQbDvGJmqbDTdgWgAqcLBCgUb",
    mnemonic:
      "",
    rpc: "https://api.mainnet-beta.solana.com",
  },
  goerli: {
    conductorChainId: 6,
    contributorChainId: 2,
    consistencyLevel: 1,
    wormhole: "0x706abc4E45D419950511e474C7B9Ed348A4a716c",
    tokenBridge: "0xF890982f9310df57d00f659cf4fd87e65adEd8d7",
    mnemonic:
      "",
    rpc: "https://goerli.infura.io/v3/26d9e50165034657bd12c7500f67ff78",
    networkCheckTimeout: 10000,
    timeoutBlocks: 200,
    deployImplementationOnly: false,
  },
  fuji: {
    conductorChainId: 6,
    contributorChainId: 6,
    consistencyLevel: 1,
    wormhole: "0x7bbcE28e64B3F8b84d876Ab298393c38ad7aac4C",
    tokenBridge: "0x61E44E506Ca5659E6c0bba9b678586fA2d729756",
    mnemonic:
      "",
    rpc: "https://api.avax-test.network/ext/bc/C/rpc",
    deployImplementationOnly: false,
  },
  binance_testnet: {
    conductorChainId: 6,
    contributorChainId: 4,
    consistencyLevel: 1,
    wormhole: "0x68605AD7b15c732a30b1BbC62BE8F2A509D74b4D",
    tokenBridge: "0x9dcF9D205C9De35334D646BeE44b2D2859712A09",
    mnemonic:
      "",
    rpc: "https://data-seed-prebsc-1-s3.binance.org:8545/",
    deployImplementationOnly: false,
  },
  mumbai: {
    conductorChainId: 6,
    contributorChainId: 5,
    consistencyLevel: 1,
    wormhole: "0x0CBE91CF822c73C2315FB05100C2F714765d5c20",
    tokenBridge: "0x377D55a7928c046E18eEbb61977e714d2a76472a",
    mnemonic:
      "",
    rpc: "https://matic-mumbai.chainstacklabs.com",
    deployImplementationOnly: false,
  },
  fantom_testnet: {
    conductorChainId: 6,
    contributorChainId: 10,
    consistencyLevel: 1,
    wormhole: "0x1BB3B4119b7BA9dfad76B0545fb3F531383c3bB7",
    tokenBridge: "0x599CEa2204B4FaECd584Ab1F2b6aCA137a0afbE8",
    mnemonic:
      "",
    rpc: "https://rpc.ankr.com/fantom_testnet/",
    deployImplementationOnly: false,
  },
  arbitrum_testnet: {
    conductorChainId: 6,
    contributorChainId: 23,
    consistencyLevel: 1,
    wormhole: "0xC7A204bDBFe983FCD8d8E61D02b475D4073fF97e",
    tokenBridge: "0x23908A62110e21C04F3A4e011d24F901F911744A",
    mnemonic:
      "",
    rpc: "https://goerli-rollup.arbitrum.io/rpc",
    deployImplementationOnly: false,
  },
  optimism_testnet: {
    conductorChainId: 6,
    contributorChainId: 24,
    consistencyLevel: 1,
    wormhole: "0x6b9C8671cdDC8dEab9c719bB87cBd3e782bA6a35",
    tokenBridge: "0xC7A204bDBFe983FCD8d8E61D02b475D4073fF97e",
    mnemonic:
      "",
    rpc: "https://rpc.ankr.com/optimism_testnet",
    deployImplementationOnly: false,
  },
  solana_testnet: {
    conductorChainId: 6,
    contributorChainId: 1,
    wormhole: "3u8hJUVTA4jH1wYAyUur7FFZVQ8H635K3tSHHF4ssjQ5",
    tokenBridge: "DZnkkTmCiFWfYTfT41X3Rd1kDgozqzxWaHqsw6W4x2oe",
    mnemonic:
      "",
    rpc: "https://api.devnet.solana.com",
  },
    development: {
    conductorChainId: 2,
    contributorChainId: 2,
    consistencyLevel: 1,
    wormhole: "0xC89Ce4735882C9F0f0FE26686c53074E09B0D550",
    tokenBridge: "0x0290FB167208Af455bB137780163b7B7a9a10C16",
  },
  eth_devnet: {
    conductorChainId: 2,
    contributorChainId: 2,
    consistencyLevel: 1,
    wormhole: "0xC89Ce4735882C9F0f0FE26686c53074E09B0D550",
    tokenBridge: "0x0290FB167208Af455bB137780163b7B7a9a10C16",
  },
  eth_devnet2: {
    conductorChainId: 2,
    contributorChainId: 4,
    consistencyLevel: 1,
    wormhole: "0xC89Ce4735882C9F0f0FE26686c53074E09B0D550",
    tokenBridge: "0x0290FB167208Af455bB137780163b7B7a9a10C16",
  },
};